[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
autopep8 = "*"
asyncpg = "*"
uvicorn = {extras = ["standard"], version = "*"}
databases = "*"
psycopg2-binary = "*"
marshmallow = "*"
alembic = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
aiohttp = "*"
pytest = "*"
pytest-asyncio = "*"
requests = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.10"
